name: Build and Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        type: environment
        required: true
        default: staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: groupdocs-cloud/products.groupdocs.cloud
          ref: convert
          token: ${{ secrets.PAT }}

      - name: Setup Node.js
        uses: actions/setup-node@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          extended: true

      - name: Generate markdown files
        run: |
          npm install
          npm run generate

  deploy-production:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production
    env:
      HUGO_ENVIRONMENT: production
    steps:
      - name: Deploy to production
        run: |
          hugo --config=config-stage.toml

  deploy-staging:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: staging
    env:
      HUGO_ENVIRONMENT: staging
    steps:
      - name: Deploy to staging
        run: |
          hugo --config=config-stage.toml
