name: Spellcheck

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to checkout'
        type: string
        default: master
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
        with:
          repository: groupdocs-cloud/products.groupdocs.cloud
          ref: ${{ github.event.inputs.branch }}
          token: ${{ secrets.PAT }}

      - uses: streetsidesoftware/cspell-action@v2
        with:
          incremental_files_only: false
          files: "content/**/*.{md,txt}"
